.badgeContainer {
  display: flex;
  gap: 5px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--white);
  justify-content: flex-end;
  height: 100%;
}

/* media query */
@media (max-width: 768px) {
  .badgeContainer {
    justify-content: center;
  }
}