/* Container de Filtros */
.filterContainer {
  display: flex;
  padding: 2.5rem;
  justify-content: space-between;
  align-items: center;
}

.filterItemContainer {
  display: flex;
  gap: 15px;
}

/* Grid */
.dogGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2.5rem;
  padding-bottom: 3rem;
}

.emptyState {
  grid-column: 1 / -1;
  text-align: center;
  padding: 3rem;
  color: var(--text-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* paginação */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
  padding-bottom: 4rem;
}

.pageInfo {
  font-weight: 600;
  color: var(--text-primary);
  font-size: 1rem;
}

@media (max-width: 768px) {
  .filterContainer {
    flex-direction: column-reverse;
    gap: 20px;
    justify-content: center;
    padding: 0;
    padding-bottom: 2.5rem;
  }

  .filterItemContainer {
    flex-direction: column;
    justify-content: center;
  }
}
