.trigger {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  box-shadow: var(--shadow-sm);
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  white-space: nowrap;
  transition: color 0.1s ease-in;
  cursor: pointer;
}

.trigger:hover {
  background-color: var(--white);
}

.trigger:focus {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.trigger:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.trigger[data-state="open"] {
  background-color: var(--white);
}

.icon {
  height: 1rem;
  width: 1rem;
  opacity: 0.5;
}

.content {
  position: relative;
  z-index: 50;
  max-height: 20rem;
  max-width: 20rem;
  overflow-y: auto;
  border-radius: 0.375rem;
  border: 1px solid var(--border);
  background-color: var(--white);
  color: var(--text-primary);
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.popper {
  width: var(--radix-select-trigger-width);
}

.label {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.item {
  position: relative;
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem 0.25rem 2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  outline: none;
  transition: color 0.1s ease-in;
}

.item[data-highlighted] {
  background-color: var(--accent-primary);
  color: var(--primary);
}

.item[data-disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.itemIndicatorWrapper {
  position: absolute;
  left: 0.5rem;
  display: flex;
  height: 1rem;
  width: 1rem;
  align-items: center;
  justify-content: center;
}

.itemIndicatorIcon {
  height: 1rem;
  width: 1rem;
}

.separator {
  margin: -0.25rem;
  background-color: var(--border);
  height: 1px;
}
