.heroContainer {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: clamp(2rem, 5vw, 9rem);
  align-items: center;
}

.heroContent {
  position: relative;
  color: var(--text-primary);
}

.badge {
  background: var(--primary);
  color: var(--white);
  padding: 0.6rem 1.5rem;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  display: inline-block;
  box-shadow: var(--shadow-md);
}

.title {
  font-size: 3.8rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;
  font-weight: 800;
  letter-spacing: -0.8px;
  text-align: end;
}

.description {
  font-size: 1.3rem;
  margin-bottom: 2.5rem;
  font-weight: 300;
  opacity: 0.95;
  max-width: 700px;
  color: var(--text-secondary);
  text-align: end;
}

.btnGroup {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.heroOverlay {
  position: relative;
}

.heroImage {
  border-radius: var(--radius);
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
  pointer-events: none;
}

.heroThumbnail {
  position: absolute;
  top: -1.5rem;
  left: -30px;
  width: 8rem;
  max-height: 8rem;
  object-fit: cover;
  border-radius: var(--radius-lg);
  border: 4px solid var(--bg-body);
  transition: var(--transition);
}

.heroThumbnail:hover {
  transform: translateY(-5px);
}

/* media query */
@media (max-width: 768px) {
  .heroContainer {
    text-align: center;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .heroContent {
    order: 2;
  }

  .heroOverlay {
    margin: 0 auto;
  }

  .btnGroup {
    flex-direction: column;
    justify-content: center;
  }

  .heroImage {
    border-radius: var(--radius);
    width: 450px;
    height: auto;
    object-fit: cover;
    display: block;
  }

  .heroSecondaryImage {
    display: none;
  }

  .title {
    font-size: 2.5rem;
    text-align: center;
  }

  .description {
    font-size: 1rem;
    text-align: center;
  }
}
