.heroContainer {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 60px;
  align-items: center;
}

.heroContent {
  position: relative;
  z-index: 2;
  color: var(--text-primary);
  /* margin: 0 auto; */
  /* opacity: 0; */
  /* transform: translateY(30px); */
  /* transition: all 0.8s ease-out; */
}

/* Classe ativada pelo React */
/* .heroContentActive {
  opacity: 1;
  transform: translateY(0);
} */

.badge {
  background: var(--primary);
  color: var(--white);
  padding: 0.6rem 1.5rem;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  display: inline-block;
  box-shadow: var(--shadow-md);
}

.title {
  font-size: 3.8rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;
  font-weight: 800;
  letter-spacing: -0.8px;
}

.description {
  font-size: 1.3rem;
  margin-bottom: 2.5rem;
  font-weight: 300;
  opacity: 0.95;
  max-width: 700px;
  color: var(--text-secondary);
}

.btnGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.heroOverlay {
  position: relative;
}

.heroImage {
  border-radius: var(--radius);
  width: 100%;
  height: 600px;
  max-height: 450px;
  object-fit: cover;
  display: block;
  pointer-events: none;
}

.heroSecondaryImage {
  position: absolute;
  top: -1.5rem;
  left: -80px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: var(--radius-lg);
  border: 4px solid var(--bg-body);
  pointer-events: none;
}

.dogBadge {
  position: absolute;
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: var(--primary);
  border: 3px solid var(--bg-body);
  color: var(--white);
  padding: 0.3rem 0.5rem;
  bottom: -0.5rem;
  right: -0.5rem;
  border-radius: var(--radius-lg);
  z-index: 10;
  pointer-events: none;
}

.dogBadge span {
  font-size: 12px;
  font-weight: 600;
}

/* media query */
@media (max-width: 768px) {
  .heroContainer {
    text-align: center;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .heroContent {
    order: 2;
  }

  .heroOverlay {
    margin: 0 auto;
  }

  .btnGroup {
    flex-direction: column;
    justify-content: center;
  }

  .heroImage {
    border-radius: var(--radius);
    box-shadow: var(--shadow-lg);
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }

  .heroSecondaryImage {
    display: none;
  }

  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1rem;
  }
}
