.recycleContainer {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: start;
  gap: 50px;
}

.recycleTextContainer p {
  color: var(--text-light);
  text-align: justify;
}

.checklist {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.checklist li {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.checklistIcon {
  color: green;
}
