.btn {
  border: 1px solid transparent;
  padding: 0.8rem 1.2rem;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.2s;
  font-family: inherit;
  font-size: 0.95rem;
  text-decoration: none;
  line-height: 1;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn:hover:not(:disabled) {
  transform: scale(1.02);
}

.btn.icon {
  padding: 0.8rem;
  border-radius: var(--radius-lg);
}

/* Variants */
.primary {
  background-color: var(--btn-primary);
  color: var(--primary);
}

.primary:hover:not(:disabled) {
  background-color: var(--btn-primary-hover);
  color: var(--white)
}

.secondary {
  background-color: var(--btn-secondary);
  color: var(--white);
}

.secondary:hover:not(:disabled) {
  background-color: var(--btn-secondary-hover)
}

.outline {
  color: var(--text-primary);
  border-color: var(--border);
  background-color: rgba(255, 255, 255, 0.691);
}

.outline:hover:not(:disabled) {
  background-color: var(--white);
  color: var(--text-secondary)
}

.instagram {
  border-style: dotted;
  border-color: var(--btn-instagram);
  color: var(--btn-instagram);
  border-width: 2px; 
}

.instagram:hover:not(:disabled) {
  border-style: solid;
  border-color: var(--btn-instagram);
  
  background-color: var(--btn-instagram);
  color: var(--white);
}

.ghost {
  color: var(--text-primary);
}

.ghost:hover {
  background-color: rgb(232, 232, 232);
}

.text {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-primary);
  font-weight: 700;
  background-color: transparent;
  padding: 0 !important;
}

.text:hover {
  gap: 15px;
  color: var(--btn-primary-hover);
}

/* Sizes */
.sm {
  padding: 0.6rem 1rem;
  font-size: 0.85rem;
}

.md {
  padding: 0.8rem 1.2rem;
  font-size: 0.95rem;
}

.lg {
  padding: 1rem 1.8rem;
  font-size: 1.1rem;
  border-radius: 48px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blur {
  backdrop-filter: var(--blur);
}
