.btn {
  border: 2px solid transparent;
  padding: 0.8rem 1.2rem;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.2s;
  font-family: inherit;
  font-size: 0.95rem;
  text-decoration: none;
  line-height: 1;
}

.btn:hover {
  transform: scale(1.02);
}

/* Variants */
.primary {
  background-color: var(--btn-primary);
  color: var(--primary);
}

.primary:hover {
  background-color: var(--btn-primary-hover);
  color: var(--white)
}

.secondary {
  background-color: var(--btn-secondary);
  color: var(--white);
}

.secondary:hover {
  background-color: var(--btn-secondary-hover)
}

.ghost {
  background-color: transparent;
  color: var(--white);
  border-color: var(--white);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.064);
}

.ghost:hover {
  background-color: var(--white);
  color: var(--text-light)
}

.text {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--primary);
  font-weight: 700;
  background-color: transparent;
  padding: 0 !important;
}

.text:hover {
  gap: 15px;
  color: var(--primary-dark);
}

/* Sizes */
.sm {
  padding: 0.6rem 1rem;
  font-size: 0.85rem;
}

.md {
  padding: 0.8rem 1.2rem;
  font-size: 0.95rem;
}

.lg {
  padding: 1rem 1.8rem;
  font-size: 1.1rem;
  border-radius: 48px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
