.historyText {
  text-align: left;
}

.historyText p {
  margin-bottom: 1.5rem;
  font-size: 1.05rem;
  text-align: justify;
  color: var(--text-light);
}

.historyText h2,
h3 {
  color: var(--secondary);
  margin-top: 40px;
  margin-bottom: 15px;
}

.historyText h3 {
  font-size: 1.8rem;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.imageWrapper img {
  border-radius: var(--radius);
  box-shadow: var(--shadow-lg);
  width: 100%;
  height: 100%;
  max-height: 450px;
  object-fit: cover;
  display: block;
}