/* .root {
  overflow: auto;
} */

.item {
  padding: 1rem;
  border-radius: var(--radius);
  transition: background-color 0.2s ease-in-out;
}

.item:first-child {
  margin-top: 0;
}

.item:not(:last-child) {
  margin-bottom: 1rem;
}

.item:focus-within {
  position: relative;
  z-index: 1;
}

.header {
  margin: 0;
  padding: 5px;
  display: flex;
}

.trigger {
  font-family: inherit;
  background-color: transparent;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  border: none;
  color: var(--text-secondary);
  cursor: pointer;
  transition: var(--transition);
  text-align: left;
  gap: 10px;
}

.item:hover .trigger {
  color: var(--text-primary);
}

.content {
  overflow: hidden;
  font-size: 15px;
  color: var(--text-secondary);
  margin-top: 10px;
  border-radius: var(--radius-sm);
}
.content[data-state="open"] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.content[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.contentText {
  padding: 0 5px;
  text-align: justify;
}

.chevron {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.trigger[data-state="open"] > .chevron {
  transform: rotate(180deg);
}

.item[data-state="open"] {
  background-color: var(--accent-secondary);
}

.item[data-state="open"] .trigger {
  color: var(--secondary);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
