/* reset */
button,
fieldset,
input {
  all: unset;
}

.overlay {
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.396);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  z-index: 9999;
  background-color: var(--bg-body);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* max-width: 500px; */
  max-width: 90vw;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.content:focus {
  outline: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  font-weight: 700;
  color: var(--title-primary);
  text-align: center;
  font-size: 17px;
}

.description {
  margin: 10px auto 20px;
  max-width: 400px;
  color: var(--title-secondary);
  font-size: 15px;
  text-align: center;
  line-height: 1.5;
}

.closeButton {
  position: absolute;
  right: 25px;
  top: 20px;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-body);
  color: var(--text-secondary);
  cursor: pointer;
  transition: var(--transition);
}
.closeButton:hover {
  color: var(--text-primary);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
