.badge {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: 600;
  border-radius: var(--radius-lg);
  border: 1px solid transparent;
  white-space: nowrap;
  user-select: none;
}

.content {
  line-height: 1;
}

.icon {
  display: flex;
  align-items: center;
}

/* Variants */
.primary {
  background-color: var(--badge-primary);
  color: var(--white);
}

.secondary {
  background-color: var(--badge-secondary);
  color: var(--white);
}

.outline {
  background-color: rgba(255, 255, 255, 0.109);
  color: var(--text-primary);
  border-color: var(--border);
}

/* sizes */
.sm {
  padding: 0.2rem 0.4rem;
  font-size: 11px;
}

.md {
  padding: 0.3rem 0.5rem;
  font-size: 12px;
}

.lg {
  padding: 0.8rem 1.2rem;
  font-size: 14px;
}

/* blur */
.blur {
  backdrop-filter: var(--blur);
}
