/* Grid Interno */
.contentGrid {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  height: 100%;
  overflow: hidden;
}

.carousel {
  background: #000;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  pointer-events: none;
}

/* container de navegação */
.carouselButtons {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  align-items: start;
  left: 0;
  height: 100%;
  padding: 2rem;
}

.carouselNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  border: 1px solid var(--border);
  border-radius: var(--radius-lg);
  background-color: rgba(255, 255, 255, 0.223);
  -webkit-backdrop-filter: var(--blur);
  backdrop-filter: var(--blur);
  pointer-events: none;
}

.carouselNavButtons {
  display: flex;
  gap: 0.8rem;
  z-index: 20;
  pointer-events: all;
}

.carouselNavDots {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  pointer-events: all;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.dot:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.dotActive {
  background-color: white;
}

.details {
  padding: 2.5rem;
  gap: 1.5rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--white);
}

.modalContent {
  max-width: 1200px;
  width: 90vw;
  height: 80vh;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 3.5rem;
  color: var(--text-primary);
  line-height: 1;
  letter-spacing: -0.8px;
}

.description {
  color: var(--text-secondary);
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 30px;
  font-size: 1.3rem;
}

.badges {
  display: flex;
  gap: 5px;
}

.footerBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* media query */
@media (max-width: 768px) {
  .modalContent {
    overflow-y: auto;
    height: auto;
  }

  .contentGrid {
    grid-template-columns: 1fr;
    height: auto;
    overflow: visible;
  }

  .carousel {
    height: 450px;
    min-height: auto;
  }

  .details {
    padding: 1.5rem;
    height: auto;
    overflow: visible;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .carouselButtons {
    flex-direction: row;
    left: 50%;
    width: 100%;
    height: auto;
    bottom: 0;
    align-items: center;
    transform: translateX(-50%);
  }

  .footerBtn {
    flex-direction: column;
    gap: 15px;
  }

  .description {
    font-size: 1rem;
  }

  .title {
    font-size: 3rem;
  }

  .carouselNavDots {
    display: none;
  }

  .badges {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .badgeContent {
    justify-content: center;
  }
}
