.root {
  display: grid;
  gap: 0.5rem;
}

.item {
  all: unset;
  aspect-ratio: 1 / 1;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--border);
}

.item:focus-visible {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.item[data-state="checked"] {
  border-color: var(--primary);
}

.indicatorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicatorIcon {
  width: 0.5rem;
  height: 0.5rem;
  fill: var(--primary);
  color: var(--primary);
}

.item[data-state="checked"] .uncheckedIcon {
  display: none;
}

.uncheckedIcon {
  width: 1rem;
  height: 1rem;
  color: transparent;
}
