.switchContainer {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.switch {
  position: relative;
  width: 50px;
  height: 40px;
  padding: 0 5px;
  border-radius: var(--radius-lg);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.switch:hover {
  opacity: 0.9;
  background-color: var(--btn-outline-bg);
}

.switch.dark {
  justify-content: flex-end;
}

.thumb {
  width: 30px;
  height: 30px;
  color: var(--white);
  background-color: var(--secondary);
  border-radius: var(--radius-xl);
  border: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch.dark .thumb {
  background-color: var(--primary);
}

.icon {
  width: 18px;
  height: 18px;
}
