.card {
  padding: 0.5rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow-md);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.cardBody {
  background-color: var(--accent-primary);
  padding: 2.5rem; /* md (default) */
  border-radius: var(--radius);
  flex-grow: 1;
}

/* accents */
.card.colorSecondary .cardBody {
  background-color: var(--accent-secondary);
}

.card.colorGreen .cardBody {
  background-color: var(--accent-green);
}

.card.colorRed .cardBody {
  background-color: var(--accent-red);
}

.colorSecondary .cardIcon {
  color: var(--secondary);
}

.colorGreen .cardIcon {
  color: green;
}

.colorRed .cardIcon {
  color: red;
}

/* sizes */
.sm .cardBody {
  padding: 1.5rem;
}

.sm .cardTitle {
  font-size: 1rem !important;
}

.sm .cardContent {
  font-size: 1rem;
}

.lg .cardBody {
  padding: 3.5rem;
}

.lg .cardTitle {
  font-size: 1.75rem;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: var(--shadow-lg);
}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.cardIcon {
  color: var(--primary);
}

.cardTitle {
  font-size: 1.5rem;
  color: var(--text-primary);
  margin: 0;
}

.cardContent {
  flex-grow: 1;
  color: var(--text-secondary);
}

.cardContent p {
  color: var(--text-primary) !important;
  text-align: left;
  margin-bottom: 1rem;
}

.cardFooter {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
}

.cardButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-secondary);
  width: 100%;
  transition: var(--transition);
  cursor: pointer;
}

.cardButton:hover {
  color: var(--text-primary);
  transform: scale(1.02);
}

.quote {
  box-shadow: none;
  background-color: var(--accent-primary);
  color: var(--primary);
}

.quote .card {
  padding: 0;
}

.quote.colorSecondary {
  background-color: var(--accent-secondary);
}

.quote .cardHeader {
  flex-direction: row;
  align-items: top;
}

.quote .cardTitle {
  font-size: 1.4rem;
  color: var(--primary);
}

.quote.colorSecondary .cardTitle {
  color: var(--secondary);
}

.quote:hover {
  transform: none;
  box-shadow: none;
}

@media (max-width: 768px) {
  .cardFooter,
  .cardContent p,
  .card {
    text-align: center !important;
  }

  .cardFooter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quote .cardHeader {
    flex-direction: column;
  }
}
